@media (max-width: 680px) {
	.custom-flexcontrols {
		display: block;
		overflow: hidden;
	}

	.custom-flex {
		width: auto;
		float: none;
		margin: 0 3%;
		display: none;
	}

	.showme {
		display: block;
	}

	.custom-flex.one, .custom-flex.two, .custom-flex.three {
		margin: 0 10%;
	}

	.custom-flex h3 {
		max-width: 100%;
	}

	/*FOOTER*/
	.custom-contact {
		width: 30%;
	}

	.custom-resources {
		width: 20%;
	}

}